.THIS.div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

.THIS.div.panel.show {
    opacity: 1;
    max-height: 500px;  
}

.THIS .uiButton--default .label {
    white-space: nowrap;
    color: #ffffff;
}

.THIS .yellow{
     background-color: #ffffff;
}

.THIS .blunt{
     background-color: #7FFF00;
}