.THIS .Space {
     padding-left: 20px;
}

.THIS .Space1 {
     padding-left: 130px;
}

.THIS .Space2 {
     padding-left: 40px;
    display: inline;
}

.THIS .Space3 {
    padding-left: 47px;
    display: inline;
}

.THIS .Space4 {    
    padding-left: 20px;
     display: inline;
}

.THIS .Space5 {
    text-align: left;
    
}